@charset "utf-8";

.wrapper {
	min-width: 1400px; 
}

body {
	align-content: center; 
	padding-left: 25px; 
	padding-right: 25px;
	background-color: rgba(49, 46, 43, 1); 
}

h1 { 
	text-align: center; 
	background-color: rgba(43,43,43,1.00);
	color: white; 
	border-radius: 15px; 
	padding: 10px; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 48px; 
	width: 80%; 
	margin-bottom: 50px; 
}

h2, 
p {
	margin-left: 20px; 
	margin-right: 40px; 
	line-height: 40px; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

p{
	font-size: 18px; 
}

h2{
	font-size: 32px;
}

#logo {
	position: relative; 
	float: right;
	bottom: 725px; 
	right: 70px; ; 
}

#form {
	width: 680px;
	padding-top: 20px;
	background-color: #c0c0c0;
	color: black;
	padding: 30px; 
	padding-left: 60px; 
	top: 20px;  
	border-radius: 15px; 
	height: 550px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 18px; 
}


#footer{
	float:right;
	position: relative; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
	font-size: 18px; 
	left: 40px; 
	top: 40px; 
	color: antiquewhite;
}

.referencelinks {
	color: antiquewhite; 
}

label {
	font-size: 18px;
	margin-bottom: 0.4rem;
	display: flex;
	align-items: center;
}

input,
button,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

.inputboxes {
  display: block;
  width: 70%;
  height: 1.5rem;
  padding: 0.4rem 0.8rem;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgba(99,99,99,1.00);
  background-color: white;
  background-clip: padding-box;
  border: 0px;
  border-radius: 5px;
}

#textbox {
	min-height: 110px;
	width: 70%;
	padding: 0.8rem;
	resize: none;
	position: relative; 
	bottom: 15px;
	border: none;
}

#submit {
	display: block;
	width: 515px;
	padding: 0.75rem;
	background: #37af65;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	border: none;
}


.forminput {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
	position: relative;
	bottom: 10px;
	left: 40px;
}

#contactinfo {
	float:right; 
	position: relative;
	top: 120px; 
	right: 30px; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
	color: white; 
	line-height: 20px;
}

#phonenumber {
	color: antiquewhite;
}