@charset "utf-8";

.wrapper {
	min-width: 1400px; 
}

body {
	align-content: center; 
	padding-left: 25px; 
	padding-right: 25px;
	background-color: rgba(49, 46, 43, 1); 
}

h1 { 
	text-align: center; 
	background-color: rgba(43,43,43,1.00);
	color: white; 
	border-radius: 15px; 
	padding: 10px; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 48px; 
	width: 80%; 
}

h2, 
p {
	margin-left: 20px; 
	margin-right: 40px; 
	line-height: 40px; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

p{
	font-size: 20px; 
}

h2{
	font-size: 32px;
}

#logo {
	position: relative; 
	float: right;
	bottom: 570px; 
	right: 70px; ; 
}

#aboutbox {
	padding-top: 20px;
	background-color: #c0c0c0;
	color: black;
	padding: 30px; 
	padding-left: 60px; 
	top: 20px;  
	border-radius: 15px; 
	height: 400px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 18px; 
}


#footer{
	float:right;
	position: relative; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
	font-size: 18px; 
	left: 40px; 
	top: 40px; 
	color: antiquewhite;
}

.referencelinks {
	color: antiquewhite; 
}
